@model GroupShop.Models.Teambuy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Teambuy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Startdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
