@model IEnumerable<GroupShop.Models.Teambuy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            團購名稱
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ToString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamId }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TeamId })*@
        </td>
    </tr>
}

</table>
