@model IEnumerable<GroupShop.Models.TeamOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>團購訂單</h2>

<p>
    @if (Session["LoginPersonId"] == null)
    {
    <h6>(加購商品 請先登入)</h6>
    }
    else
    {
        object o = null;
        if (ViewData["TeamId"] != null)
        {
            o = new { teamid = ViewData["TeamId"] };
        }

        @Html.ActionLink("加購商品", "Create", o, null)
    }
    
</p>
    <table class="table">
        <tr>
            <th>
                團購名稱
            </th>
            <th>
                訂購人
            </th>
            <th>
                商品
            </th>
            <th>
                單價
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("EditQuantity", "TeamOrders", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <tr>
                <td>
                    @item.Teambuys.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Members.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.UnitPrice)
                </td>

                <td>
                    <input type="hidden" name="MemberId" value="@item.MemberId" />
                    <input type="hidden" name="TeamId" value="@item.TeamId" />
                    <input type="hidden" name="ProductId" value="@item.ProductId" />

                    @if (Session["LoginMemberId"] != null && item.MemberId == Session["LoginMemberId"].ToString())
                    {
                        <input type="number" name="Quantity" value="@item.Quantity" />
                    }
                    else
                    {

                        @Html.DisplayFor(modelItem => item.Quantity)

                    }


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @if (Session["LoginMemberId"] != null && item.MemberId == Session["LoginMemberId"].ToString())
                    {
                        <input type="submit" value="更新數量" class="btn btn-link" />
                    }
                    @*@Html.ActionLink("儲存", "EditQuantity", new { memberid = item.MemberId, teamid = item.TeamId, productid = item.ProductId }) |
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>

        }
    }

    </table>

